*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif; }

::selection {
  background-color: #fcfcfc;
  color: #396afc; }

.nav {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  height: 15vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 5rem; }
  .nav__logo {
    display: block; }
  .nav__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 5rem;
    justify-content: end;
    align-items: center;
    line-height: 1; }
  .nav__link {
    position: relative; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      color: #fcfcfc;
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 1rem 0;
      line-height: 1;
      transition: all ease-in-out 0.2s; }
    .nav__link:hover, .nav__link:focus {
      transform: translateY(-3px) scale(1.05); }
    .nav__link:active {
      transform: translateY(-1px) scale(1.02);
      color: #cbdaf7; }
    .nav__link::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 3px;
      left: 50%;
      bottom: 0px;
      background-color: white;
      transition: all ease-in-out 0.2s; }
    .nav__link:hover::after, .nav__link:focus::after {
      width: 100%;
      left: 0; }
    .nav__link:active::after {
      background-color: #cbdaf7; }

.header {
  height: 100vh;
  background-image: linear-gradient(#396afc, #2948ff); }
