@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(50px) scaleY(0); }
  5% {
    opacity: 1;
    transform: translateY(0) scaleY(1); }
  10% {
    opacity: 1;
    transform: translateY(0) scaleY(1); }
  20% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0); }
  100% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0); } }

@keyframes moveUp {
  0% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0px); } }

@keyframes moveCross {
  0% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(20px, -20px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif; }

::selection {
  background-color: #fcfcfc;
  color: #396afc; }

.heading-h1 {
  font-size: 6.4rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
  color: #fcfcfc;
  line-height: 1.2;
  margin: 1.5rem 0 2.5rem;
  font-weight: bold;
  letter-spacing: 1px; }

.heading-h3 {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #cbdaf7;
  font-weight: 400;
  letter-spacing: 1px; }

.btn {
  display: inline-block;
  margin: 9rem 0 0;
  padding: 1.5rem 4rem;
  color: #396afc;
  background-color: white;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 139, 0.2);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.2s ease; }
  .btn:hover, .btn:focus {
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 139, 0.1); }

.nav {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  height: 15vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 5rem; }
  .nav__logo {
    display: block; }
  .nav__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 5rem;
    justify-content: end;
    align-items: center;
    line-height: 1; }
  .nav__link {
    position: relative; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      color: #fcfcfc;
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 1rem 0;
      line-height: 1;
      transition: all ease-in-out 0.2s; }
    .nav__link:hover, .nav__link:focus {
      transform: translateY(-3px) scale(1.05); }
    .nav__link:active {
      transform: translateY(-1px) scale(1.02);
      color: #cbdaf7; }
    .nav__link::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 3px;
      left: 50%;
      bottom: 0px;
      background-color: white;
      transition: all ease-in-out 0.2s; }
    .nav__link:hover::after, .nav__link:focus::after {
      width: 100%;
      left: 0; }
    .nav__link:active::after {
      background-color: #cbdaf7; }

.header {
  height: 100vh;
  background-image: linear-gradient(#396afc, #2948ff); }

.intro {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  justify-items: start;
  align-items: center; }
  .intro__text {
    text-align: left;
    padding: 8rem 6rem;
    position: relative; }
    .intro__text p {
      font-size: 2.4rem;
      color: #cbdaf7; }
  .intro__caption {
    position: absolute;
    opacity: 0;
    display: block; }
    .intro__caption--1 {
      animation: reveal 14s ease infinite; }
    .intro__caption--2 {
      animation: reveal 14s ease 2s infinite; }
    .intro__caption--3 {
      animation: reveal 14s ease 4s infinite; }
    .intro__caption--4 {
      animation: reveal 14s ease 6s infinite; }
    .intro__caption--5 {
      animation: reveal 14s ease 8s infinite; }
    .intro__caption--6 {
      animation: reveal 14s ease 10s infinite; }
    .intro__caption--7 {
      animation: reveal 14s ease 12s infinite; }
  .intro__images {
    padding: 0rem;
    position: relative; }
  .intro__image-designer {
    position: absolute;
    left: -5%;
    top: 35%;
    z-index: 2; }
  .intro__image-mobile {
    position: absolute;
    top: 55%;
    right: -7%;
    z-index: 2; }
  .intro__image-developer {
    position: absolute;
    left: 52%;
    top: 5%; }
  .intro__image-learn {
    position: absolute;
    left: 14%;
    top: 5%;
    z-index: 1; }

#left-flower {
  animation: moveUp 2s ease-in-out infinite alternate-reverse; }

#right-flower {
  animation: moveUp 2s ease-in-out infinite alternate; }

#blue-circle {
  animation: moveCross 2s ease-in-out infinite alternate-reverse; }
