//GLOBAL COLORS
$color-primary: #396afc;
$color-primary-dark: #2948ff;
$color-primary-light: #cbdaf7;

$color-secondary: #fcfcfc;
$color-secondary-dark: #f3f6ff;

$color-bg-gradient: linear-gradient(
  to bottom,
  $color-primary,
  $color-primary-dark
);

//FONT TYPES
$font-heading: "Lora", serif;
$font-display: "Poppins", sans-serif;

//FONT-SIZES
$default-font-size: 1.6rem;
