.footer {
  background-color: $color-primary-light;
  color: $color-primary-dark;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  padding: 4rem;

  & .hearts {
    color: orangered;
    font-size: 1.6rem;
  }
}
