.header {
  height: 100vh;
  background-image: $color-bg-gradient;
}

.intro {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  justify-items: start;
  align-items: center;
  // margin-top: 10rem;

  &__text {
    text-align: left;
    padding: 8rem 6rem;
    position: relative;

    p {
      font-size: 2.4rem;
      color: $color-primary-light;
    }
  }

  &__caption {
    position: absolute;
    opacity: 0;
    display: block;

    &--1 {
      animation: reveal 14s ease infinite;
    }

    &--2 {
      animation: reveal 14s ease 2s infinite;
    }

    &--3 {
      animation: reveal 14s ease 4s infinite;
    }

    &--4 {
      animation: reveal 14s ease 6s infinite;
    }

    &--5 {
      animation: reveal 14s ease 8s infinite;
    }

    &--6 {
      animation: reveal 14s ease 10s infinite;
    }

    &--7 {
      animation: reveal 14s ease 12s infinite;
    }
  }

  &__images {
    padding: 0rem;
    position: relative;
  }

  &__image {
    &-designer {
      position: absolute;
      left: -5%;
      top: 35%;
      z-index: 2;
    }

    &-mobile {
      position: absolute;
      top: 55%;
      right: -7%;
      z-index: 2;
    }

    &-developer {
      position: absolute;
      left: 52%;
      top: 5%;
    }
    &-learn {
      position: absolute;
      left: 14%;
      top: 5%;
      z-index: 1;
    }
  }
}

#left-flower {
  animation: moveUp 2s ease-in-out infinite alternate-reverse;
}
#right-flower {
  animation: moveUp 2s ease-in-out infinite alternate;
}

#blue-circle {
  animation: moveCross 2s ease-in-out infinite alternate-reverse;
}
