.nav {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  min-height: 15vh;

  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  @media only screen and (max-width: 65em) {
    width: 95%;
  }

  @media only screen and (max-width: 49.5em) {
    grid-template-columns: 1fr;
    align-items: center;
  }

  &__logo {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-secondary;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(black, 0.15);
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 56.25em) {
      top: 4rem;
      right: 4rem;
      display: block;
    }

    @media only screen and (max-width: 49.5em) {
      top: 3rem;
      right: 3rem;
      display: block;
    }

    &:hover,
    &:active {
      span {
        margin: 1rem 0 0.5rem;
        transition: transform 0.2s ease;
      }
    }

    span {
      padding: 1px 2rem;
      background-color: $color-primary;
      margin: 1rem 0 0.2rem;
      display: block;
      transition: transform 0.2s ease;
    }
    .span-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0.8rem;
    }
  }

  &__background {
    display: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    // position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    z-index: 1000;
    // transform: scale(70);
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    @media only screen and (max-width: 56.25em) {
      display: block;
      position: fixed;
      top: 4.5rem;
      right: 4.5rem;
    }

    @media only screen and (max-width: 49.5em) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 5rem;
    justify-content: end;
    align-items: center;
    line-height: 1;

    @media only screen and (max-width: 65em) {
      width: 95%;
    }

    @media only screen and (max-width: 56.25em) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -50%;
      z-index: 1500;
      width: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
  }

  &__link {
    position: relative;
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-secondary;
      display: block;
      font-family: $font-display;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 1rem 0;
      line-height: 1;
      transition: all ease-in-out 0.2s;
      text-align: left;
    }

    &:hover,
    &:focus {
      transform: translateY(-3px) scale(1.05);
    }

    &:active {
      transform: translateY(-1px) scale(1.02);
      color: $color-primary-light;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 3px;
      left: 50%;
      bottom: 0px;
      background-color: white;
      transition: all ease-in-out 0.2s;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      left: 0;
    }
    &:active::after {
      background-color: $color-primary-light;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(70);
  }

  &__checkbox:checked ~ &__list {
    height: 100vh;
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
  }

  &__checkbox:checked ~ &__button {
    &,
    &:active,
    &:hover {
      span:nth-child(1) {
        transform: rotateZ(135deg) translate(1rem, -1rem) scale(1.2);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotateZ(-135deg) translate(2rem, 2rem) scale(1.2);
      }
    }
    span {
      margin: 1rem 0;
    }
  }
}
